.button {
  width: max-content;
  min-width: 260px;
  padding: 20px 35px;
  font-size: 18px;
  line-height: 1.2;
  background-color: var(--color-yellow);
  box-shadow: var(--shadow);
  outline: none;
  cursor: pointer;
}

.button--header {
  min-width: 200px;
  padding-inline: 15px;
}

.button--secondary {
  padding: 18px 33px;
  color: var(--color-yellow);
  background-color: var(--color-bg);
  border: 1px solid var(--color-yellow);
}

.button:hover,
.button:focus {
  color: white;
  background-image: linear-gradient(180deg, var(--color-yellow) 0%, #c98121 100%);
}

@media (min-width: 768px) {

  .button--secondary {
    padding-left: 0;
    text-align: left;
    color: var(--color-gray);
    border-color: transparent;
    background-color: transparent;
    box-shadow: none;
  }

  .button--secondary:hover,
  .button--secondary:focus {
    text-decoration: underline;
    color: var(--color-gray);
    background-image: none;
  }
}

@media (min-width: 1400px) {

  .button--header {
    min-width: 260px;
    padding-inline: 35px;
  }
}
